
<div class="commonBGdiv">
		<img src="assets/images/bg.png" class="bgImageCommon">
	</div>
	<!-- fix bg -->
	<!-- main Page -->
	<div class="commonMainDiv">
		<!-- menu strat -->
		<app-admin-nav></app-admin-nav>
		<!-- <div class="container-fluid paddLR50">
			<div class="menuDiv">
				<div class="menuLeft">
					<img src="assets/images/smalllogo.png" class="menuLogo">
					<div class="adminName">
						<h4>Dashboard</h4>
						<p>Admin</p>
					</div>
					<div class="menuDivBtn">
						<button class="btn commonBtnBlue Active"> Suppliers</button>
						
					</div>
					<div class="menuDivBtn">
						<button class="btn commonBtnBlue "> Members</button>
						
					</div>
					<div class="menuDivBtn">
						<button class="btn commonBtnBlue"> Invoice</button>
						
					</div>
					<div class="menuDivBtn">
						<button class="btn commonBtnBlue"> Maintaince</button>
						
					</div>
					<div class="menuDivBtn">
						<button class="btn commonBtnBlue smallBtn"><img src="assets/images/settingIcon.png" class="settingLogo"> </button>
					</div>
				</div>
				<div class="menuright">
					<div class="sideBox">
						<div class="imageDiv">
							<img src="assets/images/profile.jpg" class="userIcon">
						</div>
						<div class="sideBoxText">
							<h4>anderu symond</h4>
							<p>Account type : Personal</p>
							<p>Location : XX-XX-XX</p>
							<p>change Password</p>
						</div>
						<a>Edit</a>
						<p class="roundBlue"><span class=""></span>Notifications</p>
					</div>
					
				</div>
			</div>
		</div> -->
		<!-- menu end -->
		<!-- inovice listing -->
		<div class="AdminPageMain">
			<div class="AdminPageMainInner">
				<div class="AdminPagehead">
					<div class="lefthead leftheadInvoiceListing">
						<h4>Filter By</h4>
						<select class="commonInput">
							<option value=""[selected]=true> State</option>
							<option *ngFor="let states of states"> {{states.state}}</option>
						</select>
						
						<select class="commonInput">
							<option value="" [selected]="true"> Group</option>
							<option *ngFor="let groups of groupType">{{groups.group_name}} </option>
						</select>
					</div>
					
				</div>
				<div class="custumPop max800 listinvoicePop">
					<div class="listinvoicePopHead">
						<h4 class="">Members listing</h4>
						<div class="membListRight">
							<a>Least Active Supplier</a>
							<img src="assets/images/searchicon.png" class="searchIcon">
							<input type="text" class="commonInput" placeholder="Search">
						</div>
					</div>
					<div class="invoicetable">
						<table class="table table-bordered">
							<thead>
							  <tr>
								<th>Invoice ID </th>
								<th class="text-left">To</th>
								<th>State</th>
								<th>Contact Number</th>
								<th>Status</th>
								<th>Issue Date</th>
								<th>Action</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="orangeRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="redRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td class="textred">UNPAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="greenRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="blackroundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							 <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="orangeRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="redRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td class="textred">UNPAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="greenRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="blackroundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="orangeRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="redRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td class="textred">UNPAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							  
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="greenRoundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							   <tr>
								<td>IN3043</td>
								<td class="text-left"><span class="blackroundN"></span>JUST JAP AUTO DISMANTLERS</td>
								<td>SA</td>
								<td>08 8369 1899</td>
								<td>PAID</td>
								<td>10-11-2018</td>
								<td>
									<div class="disF">
										<img src="assets/images/viewicon.png" class="commonIconTable">
										<img src="assets/images/editicon.png" class="commonIconTable">
										<img src="assets/images/closexicon.png" class="commonIconTable">
									</div>
								</td>
							  </tr>
							 
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
  </div>
	<!-- inovice listing  end-->
