<!-- <header class="header">
  <div class="container">
    <div class="row">
      <div class="mnu">
        <span class="hamburger hamburger--collapse">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
        <div class="respon navbar-main">
          <div class="search-box">
            <form>
              <input type="text" placeholder="Track Here">
              <button type="submit"><img src="assets/images/search-icon.png" alt="" /></button>
            </form>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="member-listing.php">Members</a></li>
            <li><a href="signup.php">Sign Up</a></li>
            <li><a href="login.php">Login</a></li>
            <li><a href="javascript:;" class="sidebar-btn">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="logo"><a href="index.php"><img src="assets/images/logo.png" alt="" /></a></div>
</header> -->
<app-user-nav></app-user-nav>
<div class="commonBgDiv"><img src="assets/images/banner.jpg" alt="" /></div>
<div class="banner-wrap">
  <div class="banner" style="background-image:url(assets/images/banner.jpg);">
    <div class="banner-in">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="wrap-box">
              <!--== personal-info start ==-->
              <div class="boxs box_personal_p box_personal_p2">
                <h5>Andrew Miggisrate <a class="pull-right" routerLink="/customer-edit">My Profile</a></h5>
                <form class="jform" action="javascript:;">
                  <div class="field select_drop">
                    <select name="cars">
                      <option vale="">Select</option>
                      <option vale="1">Toyota</option>
                      <option vale="2">Toyota</option>
                      <option vale="3">Toyota</option>
                    </select>
                    <fieldset class="active myv">My Vehicles</fieldset>
                  </div>
                </form>
                <div class="tab-pop tab-p1">
                  <div class="imgw">
                    <img src="assets/images/carp.png" alt="">
                  </div>
                  <span class="bll-titl">Toyota Camry 2007</span>
                  <span class="bl-par">2D / Auto / 2WD / 4 Cylinder
                    VIN: JTFD45GG67782902</span>

                </div>
              </div>
              <!--== personal-info end ==-->


              <div class="boxs b_shadow top active">
                <div class="boxs-in">
                  <h3>Search Here <a href="javascript:;" class="flr"><img src="assets/images/sico.png" alt="" /></a>
                  </h3>
                  <div class="frm">
                    <form class="jform" action="javascript:;">
                      <div class="field select_drop">
                        <select name="cars">
                          <option vale="">Select</option>
                          <option vale="1">Toyota</option>
                          <option vale="2">Toyota</option>
                          <option vale="3">Toyota</option>
                        </select>
                        <fieldset class="active">Make</fieldset>
                      </div>
                      <div class="field">
                        <img src="assets/images/arrow.png" alt="" />
                        <input type="text" name="" />
                        <fieldset>Model</fieldset>
                      </div>
                      <div class="field">
                        <input type="text" name="" />
                        <fieldset>Year</fieldset>
                      </div>
                      <div class="rdo">
                        <input type="radio" name="model" id="New" value="New"><label for="New"
                          class="tro"><span>New</span></label>
                        <input type="radio" name="model" id="Used" value="Used"><label
                          for="Used"><span>Used</span></label>
                        <img src="assets/images/question.png" class="fr" alt="" />
                      </div>
                      <div class="sub">
                        <button class="btn-no" type="reset" value="">Reset All</button>
                        <button class="btn-def flr btnsld" type="submit" value="Find Part" data-tab="NextStep">Find
                          Part</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="boxs b_shadow bs_s box-2" id="NextStep">
                <div class="boxs-in">
                  <div class="frm">
                    <form class="jform" action="javascript:;">
                      <div class="field">
                        <select name="texas">
                          <option vale="">Texas, USA</option>
                          <option vale="1">Texas, USA</option>
                          <option vale="2">Texas, USA</option>
                          <option vale="3">Texas, USA</option>
                        </select>
                        <fieldset class="active">Location</fieldset>
                      </div>
                      <div class="field">
                        <img src="assets/images/plus.png" class="pluss" alt="" />
                        <input type="text" name="" />
                        <fieldset>Looking For</fieldset>
                      </div>
                      <div class="field">
                        <img src="assets/images/del.png" class="del" alt="" />
                        <img src="assets/images/edit.png" class="editt" alt="" />
                        <input type="text" name="" />
                        <fieldset>Bonnet</fieldset>
                      </div>
                      <div class="sub">
                        <button class="btn-no" type="reset" value="">Reset All</button>
                        <button class="btn-def flr btnsld" type="submit" value="Next Step" data-tab="Done">Next
                          Step</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="boxs b_shadow bs_s box-3" id="Done">
                <div class="boxs-in">
                  <h4>A little more about your car</h4>
                  <div class="frm">
                    <form class="jform" action="javascript:;">
                      <div class="field">
                        <select name="Engine">
                          <option vale="">4 Cylinders</option>
                          <option vale="1">4 Cylinders</option>
                          <option vale="2">4 Cylinders</option>
                          <option vale="3">4 Cylinders</option>
                        </select>
                        <fieldset class="active">Engine</fieldset>
                      </div>
                      <div class="field">
                        <select name="Engine">
                          <option vale="">Manual</option>
                          <option vale="1">Manual</option>
                          <option vale="2">Manual</option>
                          <option vale="3">Manual</option>
                        </select>
                        <fieldset class="active">Transmission</fieldset>
                      </div>
                      <div class="field-slide">
                        <div class="mov">
                          <div class="movr">
                            <div class="movr-in">
                              <div><img src="assets/images/car1.png" alt="" /></div>
                            </div>
                          </div>
                          <div class="movr">
                            <div class="movr-in">
                              <div><img src="assets/images/car2.png" alt="" /></div>
                            </div>
                          </div>
                          <div class="movr">
                            <div class="movr-in">
                              <div><img src="assets/images/car3.png" alt="" /></div>
                            </div>
                          </div>
                          <div class="movr">
                            <div class="movr-in">
                              <div><img src="assets/images/car1.png" alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <fieldset class="active">Body Type</fieldset>
                      </div>
                      <div class="field">
                        <input type="text" name="" />
                        <fieldset>Note</fieldset>
                      </div>
                      <div class="sub">
                        <button class="btn-no" type="reset" value="">Reset All</button>
                        <button class="btn-def flr btnsld" type="submit" value="Done" data-tab="Close">Done</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="boxs b_shadow bs_s box-4" id="Close">
                <div class="boxs-in">
                  <h4>SUCCESS</h4>
                  <div class="frm">
                    <form class="jform" action="javascript:;">
                      <img src="assets/images/right.png" class="rigt" alt="" />
                      <p class="sps">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                      <span class="bl-text">Members Listing relating to your search</span>
                      <div class="wid33">
                        <div class="dvr">
                          <div class="dvr-in">
                            <img src="assets/images/pro1.png" alt="" />
                          </div>
                        </div>
                        <span class="bl-titl">Title Here</span>
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                      <div class="wid33">
                        <div class="dvr">
                          <div class="dvr-in">
                            <img src="assets/images/pro2.png" alt="" />
                          </div>
                        </div>
                        <span class="bl-titl">Title Here</span>
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                      <div class="wid33">
                        <div class="dvr">
                          <div class="dvr-in">
                            <img src="assets/images/pro3.png" alt="" />
                          </div>
                        </div>
                        <span class="bl-titl">Title Here</span>
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                      <div class="sub">
                        <button class="btn-no" type="reset" value="">Search Again</button>
                        <button class="btn-def flr btnsld" type="submit" value="Close" data-tab="Close">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- </div> -->


<!--<div class="sidebar">
	<div class="sidebar-in">
		<div class="sideh">
			<span class="sidehed">Search Status</span>
		</div>
		<div class="sidecon">
		
		<span class="trck">Tracking Number<br />
		St990654</span>
		
		<span class="nam text-center">Name: Andrew Misttaga</span>
		
		<div class="ssec">
			<div class="blimg">
				<img src="assets/images/blg.jpg" alt="" />
			</div>
			<div class="wtxt">
				<span class="bl2-text">Toyota Camry 2007</span>
				<p>Auto  /  Petrol  /  2WD</p>
			</div>			
		</div>
		
		<div class="tablpop bddr">
				<table style="width:100%">
				  <tbody><tr>
					<td>Part Name</td>
					<td>Results</td>
					<td>Action</td>										
				  </tr>				  
				  <tr>
					<td>R/H Door Window</td>
					<td>4</td>
					<td>Repost</td>										
				  </tr>			  
				  
				  <tr>
					<td>Paradise Auto Parts</td>
					<td>$430</td>
					<td><img src="assets/images/basket.png" alt=""></td>										
				  </tr>			  
				  <tr>
					<td>Costless Autos</td>
					<td>$430</td>
					<td><img src="assets/images/basket.png" alt=""></td>										
				  </tr>			 
				  <tr>
					<td>Paradise Auto Parts</td>
					<td>$430</td>
					<td><img src="assets/images/basket.png" alt=""></td>										
				  </tr>			 
				  <tr>
					<td>Costless Autos</td>
					<td>$430</td>
					<td><img src="assets/images/basket.png" alt=""></td>										
				  </tr>								  
				</tbody></table>
			</div>				
		
		
		</div>
	</div>

<div class="overlay"></div>
<div class="popup srchres sdd">
	<div class="boxs">
		<div class="boxs-in">
		<a href="javascript:;" class="close-btn"><img src="assets/images/cross.png" alt=""></a>
			<h3>Part Name Goes Here</h3>	
			<div class="atcart">
			<span class="bll-titl">$430.<sup>00</sup></span>
				<div class="ptrt">
					<div class="wid33">
						<div class="dvr">
							<div class="dvr-in">
								<img src="assets/images/pro1.png" alt="">
							</div>
						</div>																
					</div>				
					<div class="wid33">
						<div class="dvr">
							<div class="dvr-in">
								<img src="assets/images/pro2.png" alt="">
							</div>
						</div>																
					</div>				
					<div class="wid33">
						<div class="dvr">
							<div class="dvr-in">
								<img src="assets/images/pro3.png" alt="">
							</div>
						</div>																
					</div>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mattis massa. Ut non tellus non est lacinia euismod quis vitae nunc. Aliquam vel urna id arcu dictum vulputate. Nam luctus placerat ex, facilisis euismod urna porta mollis. Nulla gravida sollicitudin tellus at egestas. Nulla vel neque eu mi dictum convallis. </p>
					<a href="javascript:;" class="btn-def">Add to Cart</a>	
				</div>
			</div>
		</div>			
	</div>
</div>

	
</div>-->


<footer>
  <div class="container">
    <div class="row">

    </div>
  </div>
</footer>