<ul>
  <li *ngFor="let data of maintanData; let i=index;">

      <ng-container *ngIf="data.maintance_value">
          <p (click)="displayUpdatePopUp(data, i)">{{data.maintance_value}}</p>
      </ng-container>
        <ng-container *ngIf="data.make_name">
            <p (click)="displayUpdatePopUp(data, i)" >{{data.make_name}}</p>
        </ng-container>
        <ng-container *ngIf="data.model_name">
            <p (click)="displayUpdatePopUp(data, i)">{{data.model_name}}</p>
        </ng-container>
        <ng-container  *ngIf="data.year_name">
            <p (click)="displayUpdatePopUp(data, i)" >{{data.year_name}}</p>
        </ng-container>
        <ng-container *ngIf="data.series">
            <p (click)="displayUpdatePopUp(data, i)">{{data.series}}</p>
        </ng-container>

    <button type="button" class="closeRound" (click)="displayDeleteConfrimPopUp(data,i)">X</button>
  </li>
</ul>





