<div class="commonBGdiv">
		<img src="images/bg.png" class="bgImageCommon">
	</div>
	<!-- fix bg -->
	<!-- main Page -->
	<div class="commonMainDiv">
		<!-- menu strat -->
		<div class="container-fluid paddLR50">
			<div class="menuDiv">
				<div class="menuLeftSuplier">
					<img src="images/smallLogo.png" class="menuLogo">
					
				</div>
				<div class="menurightSuplier">
					<div class="searchDivMenu">
						<input type="text" class="serchMenu">
						<img src="images/beatIcon.png" class="beatIcon">
					</div>
					<a>Members</a>
					<a>Sign Up</a>
					<a>Login</a>
					<a>Contact</a>
				</div>
			</div>
		</div>
		<!-- menu end -->
		<!-- supplier Profile -->
		<div class="supplierDiv">
			<div class="supplierDivInner">
				<div class="custumPop width660">
					<div class="custumPopHead NewProfileHead">
                        <h4 class="popHead">New Vehilce Profile</h4>
                        <span><a href="#"><img src="images/closexicon.png" alt="" /></a></span>
					</div>
					<div class="custumPopBody">
						<div class="popSupplierText paddTB">
							<div class="width50 marL0">
								<div class="formgroup">
									<label>Rego</label>
									<input type="text" class="commonInput" placeholder="S511 ABD">
								</div>
								<div class="formgroup">
                                    <label>VIN</label>
                                    <img src="images/quetion.png" class="quetionFeild" alt="">
                                    <input type="text" class="commonInput" placeholder="JTD343JDDE43343222">
                                    
								</div>
								
                                <div class="formgroup">
									<label>Make</label>
									<select class="commonInput">
										<option> Toyota</option>
										<option> Corolla</option>
										<option> Corolla</option>
									</select>
                                </div>
								<div class="formgroup">
									<label>Model</label>
									<input type="text" class="commonInput" placeholder="Corolla">
								</div>
								<div class="formgroup">
									<label>Year</label>
									<select class="commonInput">
										<option> 2009</option>
										<option> 2010</option>
										<option> 2011</option>
									</select>
								</div>
								<div class="formgroup">
									<label>Engine</label>
									<select class="commonInput">
										<option> 4 Cylinders</option>
										<option> 4 Cylinders</option>
										<option> 4 Cylinders</option>
									</select>
                                </div>
                                <div class="formgroup">
                                    <label>Color</label>
                                    <div class="colorDiv">
                                        <div class="colorBoxDiv">
                                            <div class="colorCode skyblue"></div>
                                            <div class="colorCode green"></div>
                                            <div class="colorCode red"></div>
                                            <div class="colorCode blue"></div>
                                            <div class="colorCode black"></div>
                                            <div class="colorCode gray"></div>
                                        </div>
                                        <div class="hexColor">
                                            <!-- <div class="colorCode skyblue"></div> -->
                                            <img src="images/checkHex.png" alt="">
                                            <span><a href="#"> Hex</a></span>
                                        </div>
                                    </div>
								</div>
							</div>
							
							<div class="width50">
                                <div class="formgroup">
                                    <label>Fuel Type</label>
                                    <select class="commonInput">
                                        <option> Petrol</option>
                                        <option> Petrol</option>
                                        <option> Petrol</option>
                                    </select>
                                </div>
                                <div class="formgroup">
                                    <label>Transmission</label>
                                    <select class="commonInput">
                                        <option> Manual</option>
                                        <option> Manual</option>
                                        <option> Manual</option>
                                    </select>
                                </div>
                                <div class="field-slide">
                                    <label class="commonLabel active">Body Type</label>
                                    <div class="scrollingCars">
                                      <div class="mov">
                                        <div class="movr">
                                          <div class="movr-in">
                                            <div><img src="images/car2.png" alt="" />
                                            </div>
                                          </div>
                                        </div>
                                        <div class="movr">
                                            <div class="movr-in">
                                              <div><img src="images/car2.png" alt="" />
                                              </div>
                                            </div>
                                        </div>
                                        <div class="movr">
                                            <div class="movr-in">
                                                <div><img src="images/car2.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="movr">
                                            <div class="movr-in">
                                                <div><img src="images/car2.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="movr">
                                            <div class="movr-in">
                                                <div><img src="images/car2.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" formControlName="car_body_type_id">
                                      </div>
                                      <!-- <div *ngIf="submit && t.car_body_type_id.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="t.car_body_type_id.errors.required">Body Type is
                                          required</div>
                                      </div> -->
                                    </div>
                                </div>
                                <div class="formgroup">
                                    <label class="popHead blueText">Images</label>
                                    <div class="uploadCar">
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                    </div>
                                    <div class="uploadCar">
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                        <div class="addCar">
                                            <input type="file">
                                            <img src="images/add-button.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix "></div>
								<div class="text-center marT30">
									<button class="btn lightBlueBtn minWid90">Save</button>
								</div>
                                
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- supplier Profile end-->
		
	</div>
	<!-- main Page end-->
