<div class="wrapper">
   <app-user-nav></app-user-nav>
   <div class="commonBgDiv"><img src="assets/images/banner.jpg" alt="" /></div>
   <div class="banner-wrap">
      <div class="banner" style="background-image:url(assets/images/banner.jpg);">
         <div class="banner-in">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 disFN">
                     <div class="wrap-box listing SupplySelectionAreaLeft boxShadow">
                        <div class="boxs lister onsc supplier_main_content">
                           <div class="boxs-in">
                              <h3 class="blueNewHead">Dashboard</h3>
                              <div class="nt"><a href="javascript:;" class="notification"><span
                                       class="notify">2</span>Notifications</a></div>
                              <div class="frm">
                                 <div class="col-md-8 col-sm-8 tabld pad-lft">
                                    <div class="dvr">
                                       <div class="dvr-in">
                                          <img [src]="userDetails.profile_logo" alt="">
                                       </div>
                                    </div>
                                    <span class="bl-titl">{{userDetails.business_name}}</span>
                                    <ul class="mmy">
                                       <li>Address: {{userDetails.business_address}}</li>
                                       <li>{{userDetails.state_name}}</li>
                                       <li>Phone: {{userDetails.business_contact}}</li>
                                       <!--  <li>Fax: 08 7655 8792</li> -->
                                       <li>Email: {{userDetails.email_id}}</li>
                                       <!--   <li>Website: www.autoteam.com</li> -->
                                    </ul>
                                    <!-- <ul class="mmy">
                                       <li>Address: 16 baulderstone Road</li>
                                       <li>Gepps, Cross, SA, 5000</li>
                                       <li>Phone: 08 7655 8792</li>
                                       <li>Fax: 08 7655 8792</li>
                                       <li>Email: info@domain.com</li>
                                       <li>Website: www.autoteam.com</li>
                                    </ul> -->
                                 </div>
                                 <div class="col-md-4 col-sm-4 text-right pad-rgh pad-top">
                                    <a routerLink="/customer-edit" class="btn-def mrgb">Edit Profile</a>
                                    <a href="javascript:;" class="btn-def-blu mrgb">View Reports</a>
                                    <a href="javascript:;" class="btn-def-blu mrgb">Orders</a>
                                    <a href="javascript:;" class="btn-def-blu mrgb">Accounts</a>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="recent_active">
                                    <h3>Recent Activities <span class="pull-right">500/33</span></h3>
                                 </div>
                                 <div class="tbdat table_vieww">
                                    <div class="tbdat-in">
                                       <table style="width:100%">
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center green_complete">Completed</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier"
                                                   class="btn-def min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center red_complete">Quoted</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier"
                                                   class="btn-def	min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center green_complete">Ordered</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier"
                                                   class="btn-def	min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center request_complete">Request</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier"
                                                   class="btn-def	min80">View</a></td>
                                          </tr>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- right section -->
                     <div class="SupplySelectionAreaRightSection">
                        <div class="boxs b_shadow top SupplySelectionAreaRight boxShadow">
                           <div class="boxs-in">
                              <h3 class="popHead blueHead noBord marB10"> New Work Order</h3>
                              <div class="frm formDiv">
                                 <form class="jform fontFamDiv" [formGroup]="FirstForm" (submit)="saveFirstForm()">
                                    <div class="field">
                                       <label class="commonLabel">Order No.</label>
                                       <input type="text" placeholder="Note Goes Here" formControlName="order_no" />
                                       <div *ngIf="submit && f.order_no.errors" class="invalid-feedback">
                                          <div *ngIf="f.order_no.errors.required">Order No. is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">Claim No.</label>
                                       <input type="text" placeholder="Claim No." formControlName="claim_no" />
                                       <div *ngIf="submit && f.claim_no.errors" class="invalid-feedback">
                                          <div *ngIf="f.claim_no.errors.required">Claim No. is required</div>
                                       </div>
                                    </div>
                                    <div class="field supplierBtnDiv">
                                    
                                       <button class=" commonBtn" type="button" (click)="FirstForm.patchValue({date_time: 1})" [ngClass] = "FirstForm.controls.date_time.value == 1 ? 'btn-def' : 'commonRedBordBtn' ">Time and Date</button>
                                       <button class=" commonBtn" type="button" (click)="FirstForm.patchValue({date_time: 0})" [ngClass] ="FirstForm.controls.date_time.value == 0 ? 'btn-def' : 'commonRedBordBtn'">Urgent!</button>
                                    </div>
                                    <h3 class="popHead blueHead noBord"> Vehicle Info</h3>
                                    <div class="field" *ngIf="FirstForm.controls.date_time.value == 1">
                                       <label class="commonLabel">Time and Date</label>
                                       <input type="date"  placeholder="Time and Date" formControlName="date_time">
                                       <div *ngIf="submit && f.vin_number.errors" class="invalid-feedback">
                                          <div *ngIf="f.vin_number.errors.required">VIN is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">VIN</label>
                                       <input type="text" placeholder="VIN" formControlName="vin_number" />
                                       <div *ngIf="submit && f.vin_number.errors" class="invalid-feedback">
                                          <div *ngIf="f.vin_number.errors.required">VIN is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">Make</label>
                                       <select placeholder="Toyota" formControlName="car_make_id" (change)="getModel($event)">
                                          <option value="" [selected]=true disabled>--select Cars--</option>
                                          <option [value]="make.make_id" *ngFor="let make of makesDetails">
                                             {{make.make_name}}</option>
                                       </select>
                                       <div *ngIf="submit && f.car_make_id.errors" class="invalid-feedback">
                                          <div *ngIf="f.car_make_id.errors.required">Make is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">Model</label>
                                       <select placeholder="Toyota" formControlName="car_model_id">
                                          <option value="" [selected]=true disabled>--select Model--</option>
                                          <option [value]="model.model_id" *ngFor="let model of modelDetails">
                                             {{model.model_name}}</option>
                                       </select>
                                       <div *ngIf="submit && f.car_model_id.errors" class="invalid-feedback">
                                          <div *ngIf="f.car_model_id.errors.required">Model is required</div>
                                       </div>
                                    </div>
                                    <div class="sub">
                                       <button class="btn-def flr btnsld minWid78" type="submit"
                                          [disabled]="secondForm">Next</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="boxs b_shadow box-2 top SupplySelectionAreaRight boxShadow"
                           [ngClass]="{'active':secondForm}">
                           <div class="boxs-in">
                              <div class="frm formDiv">
                                 <form class="jform fontFamDiv" [formGroup]="SecondForm" (submit)="saveDetailsForm()">
                                    <div class="field">
                                       <label class="commonLabel">Year</label>
                                       <select formControlName="car_year_id"  >
                                          <option value='' [selected]=true disabled>--select Year--</option>
                                          <option [value]="year.year_id" *ngFor="let year of yearDetails" >{{year.year_name}}</option>
                                       </select>
                                       <div *ngIf="submit && s.car_year_id.errors" class="invalid-feedback">
                                          <div *ngIf="s.car_year_id.errors.required">Year is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">Series</label>
                                       <input type="text" placeholder="ZZ152R" formControlName="car_series_id" />
                                       <div *ngIf="submit && s.car_series_id.errors" class="invalid-feedback">
                                          <div *ngIf="s.car_series_id.errors.required">Series is required</div>
                                       </div>
                                    </div>

                                    <div class="field">
                                       <label class="commonLabel">Gearbox</label>
                                       <input type="text" placeholder="Automatic" formControlName="looking_for_part" />
                                       <div *ngIf="submit && s.looking_for_part.errors" class="invalid-feedback">
                                          <div *ngIf="s.looking_for_part.errors.required">Gearbox is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">Fuel Type</label>
                                       <input type="text" placeholder="Petrol" formControlName="car_fuel_type_id" />
                                       <div *ngIf="submit && s.car_fuel_type_id.errors" class="invalid-feedback">
                                          <div *ngIf="s.car_fuel_type_id.errors.required">Fuel Type is required</div>
                                       </div>
                                    </div>
                                    <div class="field">
                                       <label class="commonLabel">DriveTrain</label>
                                       <select formControlName="drive_train_id" >
                                          <option value='' [selected]=true disabled>--select Drive Train Type--</option>
                                          <option [value]="drive.maintance_id" *ngFor="let drive of driveDetails" >{{drive.maintance_value}}</option>
                                       </select>
                                       <div *ngIf="submit && s.drive_train_id.errors" class="invalid-feedback">
                                          <div *ngIf="s.drive_train_id.errors.required">DriveTrain is required</div>
                                       </div>
                                    </div>
                                    <h3 class="popHead blueHead noBord"> Vehicle photos</h3>
                                    <div class="vehicleImgDiv">
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(0,$event)">
                                          <img src="{{imagesUrl[0] != undefined ?imagesUrl[0] : 'assets/images/target.png'}}" [ngClass]="{'chosseImg':imagesUrl[0] != 'undefined'}"> 

                                          <!--  -->
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(1,$event)">
                                          <img src="{{imagesUrl[1] != undefined ?imagesUrl[1] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[1] != 'undefined'}"> 

                                          <!--  -->
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(2,$event)">
                                          <img src="{{imagesUrl[2] != undefined ?imagesUrl[2] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[2] != 'undefined'}"> 
                                          
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(3,$event)">
                                          <img src="{{imagesUrl[3] != undefined ?imagesUrl[3] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[3] != 'undefined'}"> 
                                          
                                       </div>
                                    </div>
                                    <div class="vehicleImgDiv">
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(4,$event)">
                                          <img src="{{imagesUrl[4] != undefined ?imagesUrl[4] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[4] != 'undefined'}"> 
                                          
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(5,$event)">
                                          <img src="{{imagesUrl[5] != undefined ?imagesUrl[5] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[5] != 'undefined'}"> 
                                          
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(6,$event)">
                                          <img src="{{imagesUrl[6] != undefined ?imagesUrl[6] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[6] != 'undefined'}"> 
                                          
                                       </div>
                                       <div class="vehicleImg">
                                          <input type="file" (change)="partsImages(7,$event)">
                                          <img src="{{imagesUrl[7] != undefined ?imagesUrl[7] : 'assets/images/vehicle.png'}}" [ngClass]="{'chosseImg':imagesUrl[7] != 'undefined'}"> 
                                       </div>
                                    </div>
                                    <div class="sub">
                                       <button class="btn-def flr btnsld minWid78" type="button" (click)="saveSecondForm()">Next</button>
                                       <button class="commonWhiteBtn flr btnsld minWid78" type="submit">Save</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>

                        <div class="boxs b_shadow box-3 top SupplySelectionAreaRight  boxShadow"
                           [ngClass]="{'active':thirdForm}">
                           <div class="boxs-in formDiv">
                              <h4 class="popHead step2Head marB10">Parts Selection</h4>
                              <div class="frm lookingDivParent">
                                 <form class="jform">
                                    <div>
                                       <div class="field ">
                                          <label class="commonLabel">Search Here</label>
                                          <img src="assets/images/add.png" class="del newDel" alt="" />
                                          <!-- <img src="assets/images/del.png" class="del" alt="" (click)="removeExahost()" -->
                                          <input type="text" placeholder="Bonnet Lock" for />

                                          <!-- <ul class="searchListExahost" *ngIf="searchBox">
                                                      <li *ngFor="let part of partDetails" (click)="displayGroup(part.part_name,part.part_id)">{{part.part_name}} </li>
                                                   </ul> -->
                                       </div>
                                    </div>

                                    <div class=" ">
                                       <div class="field min49 ">
                                          <input type="text" name="" placeholder="Bonnet" />
                                          <img class="iconsEx iconsEx2" src="assets/images/editicon1.png">
                                          <img class="iconsEx " src="assets/images/deleteIcon.png">


                                       </div>
                                    </div>

                                    <div class="sub">
                                       <button class="btn-def flr btnsld minWid78" type="submit"
                                          [disabled]="secondForm">Send</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="overlay"></div>
   <!-- <div class="popup srchres order_table m_order_result">
      <div class="boxs">
         <div class="boxs-in">
            <a href="javascript:;" class="close-btn"><img src="assets/images/cross.png" alt=""></a>
            <h3>Search Result <small style="display: block;">Order no. 34333</small></h3>
            <div class="tab-pop">
               <div class="imgw">
                  <img src="assets/images/carp.png" alt="" />
               </div>
               <span class="bll-titl">Toyota Camry 2007</span>
               <span class="bl-par">2D / Auto / 2WD / 4 Cylinder
               VIN: JTFD45GG67782902</span>
               <note><small>Note: All Price quote is cost price to you.</small></note>
               <div class="clearfix"></div>
               <ul class="list-inline">
                  <li><span><img src="assets/images/genuine.png" alt="genuine"></span> Genuine</li>
                  <li><span><img src="assets/images/used.png" alt="used"></span> Used</li>
                  <li><span><img src="assets/images/after-marker.png" alt="aftermarker"></span> Aftermarker</li>
                  <li><span><img src="assets/images/re-con.png" alt="Re-con"></span> Re-con</li>
               </ul>
            </div>
            <div class="cheapest_button">
               <a href="javascript:;" class="btn-def-blu cheapestt_btn">Cheapest</a>
               <div class="prt">
                  <span class="prt_span">Selected Total : $5550.00</span>
               </div>
            </div>
            <div class="tablpop partt">
               <table style="width:100%;box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.32941176470588235);" >
                  <tr>
                     <td>Part Name</td>
                     <td>Results</td>
                     <td><img style="vertical-align: bottom;" src="assets/images/warning.png" alt="warning"></td>
                     <td>Action</td>
                  </tr>
                  <tr>
                     <td>R/H Door Window <a id="show_hide" href="javascript:void(0);" class="pull-right"><img src="assets/images/caret.png" alt="caret"></a></td>
                     <td>4</td>
                     <td></td>
                     <td style="text-decoration: underline;">Repost</td>
                  </tr>
                  <tr class="hide_show">
                     <td style="background-color:#cfebfc;"><img src="assets/images/genuine.png" style="left: -5px;" alt="genuine"> Paradise Auto Parts</td>
                     <td style="background-color:#cfebfc;">$430</td>
                     <td style="background-color:#cfebfc;"><img src="assets/images/warning_report.png" alt="warning_report"></td>
                     <td style="background-color:#cfebfc;"><img src="assets/images/check_green.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/used.png" style="left: -5px;" alt="Used"> Costless Autos</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/after-marker.png" style="left: -5px;" alt="After Marker"> Paradise Auto Parts</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/re-con.png" style="left: -5px;" alt="Re-con"> Costless Autos</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
               </table>
               <div class="order_submit">
                  <div><a href="javascript:;" class="close-btn btn-def">Close</a></div>
                  <div>	<a href="javascript:;" class="btn-def-blu" style="    margin: 20px 15px;">Order Now</a></div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <!--==supplier-details start==-->
   <div class="modal fade view_supplier" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-md view_supply_detail" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="tab-pop">
                  <p class="memberId">From: <span class="pull-right">Member ID</span></p>
                  <div class="address">
                     <address>
                        <p>JV Crash Repairs</p>
                        <p>55 John Smith Drive,</p>
                        <p>Longsubrub, 5000</p>
                     </address>
                     <p class="id_n">B34333</p>
                  </div>
                  <div class="rating two">
                     <ul class="list-inline text-left">
                        <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                        <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                        <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                        <li><img src="assets/images/star.png" alt="star"></li>
                        <li class="numbers_outof">442/12</li>
                     </ul>
                  </div>

                  <div class="imgw">
                     <img src="assets/images/carp.png" alt="" />
                  </div>
                  <span class="bll-titl">Toyota Camry 2007</span>
                  <span class="bl-par">2D / Auto / 2WD / 4 Cylinder</span>
                  <span>VIN: JTFD45GG67782902</span>
                  <div class="clearfix"></div>
                  <div class="tablpop partt supplier_table">
                     <table class="table_v" style="width:100%;">
                        <tbody>
                           <tr>
                              <td>Part Name</td>
                              <td>Note</td>
                              <td>Photo</td>
                           </tr>
                           <tr>
                              <td>R/H Door Window </td>
                              <td><img src="assets/images/warning_report.png" alt="warning"></td>
                              <td><img src="assets/images/check_green.png" alt="check_green"></td>
                           </tr>
                           <tr>
                              <td>R/H Door Window </td>
                              <td><img src="assets/images/warning_report_white.png" alt="warning"></td>
                              <td><img src="assets/images/check_green_white.png" alt="check_green"></td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="order_submit">
                        <div><a href="javascript:;" class="close-btn btn-def">Close</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--==supplier-details end==-->

   <footer>
      <div class="container">
         <div class="row">

         </div>
      </div>
   </footer>
</div>