/* .active{
    background-color: #666;
    color: skyblue;
  } */
 img.closeBtn {
    width: 12px;
    filter: invert(1);
  }
  /* .srollDiv.minWid160 li{
    min-width: 160px;
  } */
/* .PrefferedPop .formgroup.widUnset{
  width: 100%;
} */